{% load static %}
{% load show_cart_items %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCart">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasCartLabel">Shopping Cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% if user.is_authenticated %}
      {% show_cart_items user %}
      {% endif %}
    </div>
    <div class="offcanvas-footer">
      <div class="d-grid gap-1">
        <a href={% url 'cart' %} class="btn btn-outline-light rounded-pill">View Cart</a>
        <a href="" class="btn btn-primary rounded-pill">Proceed to Checkout</a>
      </div>
    </div>
  </div>