{% extends 'cube/components/base.html' %}
{% load static %}

{% block title %}
<title>AV Rugs : All Rugs</title>
{% endblock %}

{% block content %}

<body>


  <!-- navbar -->
  {% include "cube/components/navbar-dark.html" %}
  
  
  {% include "cube/account/components/sidecart.html" %}



  <div class="offcanvas-wrap">

    <!-- hero -->
    <section class="cover overflow-hidden inverted bg-black">
      <div class="d-flex flex-column min-vh-75 container py-10 level-1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 text-center">
            <span class="eyebrow text-secondary">New Collection</span>
            <h1 class="display-2 lh-sm fw-bold">Spring Forward.
            </h1>
            <a href="" class="btn btn-outline-white rounded-pill">Shop Collection</a>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <small class="text-secondary">
              Limited time only. Selected styles marked down on site.
            </small>
          </div>
        </div>
      </div>
      <div class="background background-overlay" data-aos="zoom-out" data-aos-delay="200">
        <video data-video playsinline autoplay muted loop>
          <source src={% static "./assets/video/video-2.mp4" %} type="video/mp4" />
        </video>
      </div>
    </section>


    <!-- product carousel -->
    <section class="overflow-hidden pt-3 pt-xl-4">
      <div class="container">
        <div class="carousel carousel-visible">
          <div
            data-carousel='{"nav": false,"mouseDrag": true, "gutter": 32, "loop": true, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 2}, "1200": {"items": 3}}}'>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-1.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-1-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Watch</a>
                <span class="product-price">$100 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-2.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-2-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Black Karlo Backpack</a>
                <span class="product-price">$88 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-3.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-3-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Black Closca Helmet</a>
                <span class="product-price">$132 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-4.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-4-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Speaker</a>
                <span class="product-price">$100 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-5.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-5-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Gravel Black Sigg Water Bottle</a>
                <span class="product-price">$23 <s class="text-muted">$34</s></span>
              </div>            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- categories -->
    <section class="py-15 py-xl-20">
      <div class="container">
        <div class="row mb-5">
          <div class="col text-center">
            <h2 class="fw-bold mb-0">Categories</h2>
          </div>
        </div>
        <div class="row g-3 g-xl-4" data-masonry>
          <div class="col-md-6" data-aos="fade-up">
            <a href="" class="card equal-md-1-1 card-hover-gradient">
              <div class="card-wrap">
                <div class="card-footer my-auto">
                  <div class="text-center text-shadow">
                    <h3 class="mb-0 fw-bold text-white">Pullovers</h3>
                  </div>
                </div>
              </div>
              <figure class="background" style="background-image: url({% static './assets/images/shop-1.jpg' %})"></figure>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <a href="" class="card equal-md-16-9 card-hover-gradient">
              <div class="card-wrap">
                <div class="card-footer my-auto">
                  <div class="text-center text-shadow">
                    <h3 class="mb-0 fw-bold text-white">Trainers</h3>
                  </div>
                </div>
              </div>
              <figure class="background" style="background-image: url({% static './assets/images/shop-2.jpg' %})"></figure>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <a href="" class="card equal-md-1-1 card-hover-gradient">
              <div class="card-wrap">
                <div class="card-footer my-auto">
                  <div class="text-center text-shadow">
                    <h3 class="mb-0 fw-bold text-white">Jeans</h3>
                  </div>
                </div>
              </div>
              <figure class="background" style="background-image: url({% static './assets/images/shop-3.jpg' %})"></figure>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <a href="" class="card equal-md-16-9 card-hover-gradient">
              <div class="card-wrap">
                <div class="card-footer my-auto">
                  <div class="text-center text-shadow">
                    <h3 class="mb-0 fw-bold text-white">Accessories</h3>
                  </div>
                </div>
              </div>
              <figure class="background" style="background-image: url({% static './assets/images/shop-4.jpg' %})"></figure>
            </a>
          </div>
        </div>
      </div>
    </section>


    <!-- product carousel -->
    <section class="overflow-hidden">
      <div class="container">
        <div class="row align-items-end mb-5">
          <div class="col-lg-8 mb-2 mb-lg-0">
            <h2 class="fw-bold">Gadgets</h2>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a href="" class="underline action">View all products <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="carousel carousel-visible" data-aos="fade-left">
          <div
            data-carousel='{"nav": false,"mouseDrag": true, "gutter": 32, "loop": true, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 2}, "1200": {"items": 3}}}'>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-1.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-1-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Watch</a>
                <span class="product-price">$100 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-2.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-2-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Black Karlo Backpack</a>
                <span class="product-price">$88 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-3.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-3-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Black Closca Helmet</a>
                <span class="product-price">$132 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-4.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-4-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Speaker</a>
                <span class="product-price">$100 </span>
              </div>            </div>
            <div>
              <div class="product">
                <figure class="product-image">
                  <a href="#!">
                    <img src={% static "assets/images/products/product-5.jpg" %} alt="Image" />
                    <img src={% static "assets/images/products/product-5-2.jpg" %} alt="Image" />
                  </a>
                </figure>
                <a class="product-title" href="#!">Gravel Black Sigg Water Bottle</a>
                <span class="product-price">$23 <s class="text-muted">$34</s></span>
              </div>            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- text -->
    <section class="py-15 py-xl-20">
      <div class="container">
        <div class="row g-5 justify-content-center">
          <div class="col-8 col-md-4 text-center">
            <i class="bi bi-truck fs-4 mb-2"></i>
            <h6 class="mb-0 fw-normal fs-lg">Free Shipping</h6>
            <p class="text-muted">From all orders over $100</p>
          </div>
          <div class="col-8 col-md-4 text-center">
            <i class="bi bi-arrow-left-right fs-4 mb-2"></i>
            <h6 class="mb-0 fw-normal fs-lg">Free Returns</h6>
            <p class="text-muted">Return money within 30 days</p>
          </div>
          <div class="col-8 col-md-4 text-center">
            <i class="bi bi-bag-check fs-4 mb-2"></i>
            <h6 class="mb-0 fw-normal fs-lg">Secure Shopping</h6>
            <p class="text-muted">You’re in safe hands</p>
          </div>
        </div>
      </div>
    </section>


    <!-- footer -->
    {% include "cube/components/footer-light.html" %}
    </div>


    {% include "cube/components/jsblock.html" %}
  </body>

{% endblock %}