{% extends 'cube/components/base.html' %}
{% load static %}

{% block title %}
<title>AV Rugs : Sign in</title>
{% endblock %}
{% block content %}

<body class="bg-light">


  <!-- navbar -->
  {% include "cube/components/navbar.html" with theme=0 %}
  
  
  
  {% include "cube/account/components/sidecart.html" %}


  <div class="offcanvas-wrap">
    <section class="split">
      <div class="container">
        <div class="row justify-content-between">

          <aside class="col-lg-3 split-sidebar">
            <nav class="sticky-top d-none d-lg-block">
              <ul class="nav nav-minimal flex-column" id="toc-nav">
                <li class="nav-item">
                  <a class="nav-link fs-lg" href="./account.html">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-lg" href="./account-settings.html">Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-lg active" href="./account-orders.html">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-lg" href="./account-billing.html">Billing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-lg text-red" href="sign-in.html">Sign Out</a>
                </li>
              </ul>
            </nav>
          </aside>

          <div class="col-lg-9 split-content">

            <h1>Orders</h1>


            <!-- delivery info -->
            <section>
              <div class="row">
                <div class="col">
                  <div class="card overflow-hidden bg-primary">
                    <div class="card-body inverted level-3">
                      <div class="row mb-10">
                        <div class="col-lg-10">
                          <span class="text-muted eyebrow mb-1">Good News!</span>
                          <h2>Order is on it's way to you.</h2>
                        </div>
                      </div>
                      <div class="row g-1 align-items-center">
                        <div class="col-auto">
                          <div class="icon-box rounded-circle bg-white text-primary"><span>1</span>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="icon-box rounded-circle bg-white text-primary"><i class="bi bi-check2 fs-6"></i>
                          </div>
                        </div>
                        <div class="col-auto">
                          <p class="ms-md-2 text-secondary">The delivery of your parcel is estimated at
                            <span class="d-block fw-bold text-white">10:30 AM to 11:30 AM</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <img class="position-absolute top-100 start-100 translate-middle"
                      src={% static "./assets/images/svg/pattern.svg" %} alt="Image">
                  </div>
                </div>
              </div>
            </section>


            <!-- orders -->
            <section>
              <div class="row">
                <div class="col">
                  <h3 class="fs-4">Orders</h3>
                  <div class="card bg-opaque-white">
                    <div class="card-body bg-white">
                      <div class="accordion" id="accordion-1">
                        {% for order in orders %}
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading-1-1">
                            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse-{{order.id}}" aria-expanded="false" aria-controls="collapse-{{order.id}}">
                              <div class="row g-1 g-xl-5 align-items-center">
                                <div class="col-6 col-md-3">Order #{{order.id}}</div>
                                <div class="col-6 col-md-3 text-secondary">{{order.created_at}}</div>
                                <div class="col-6 col-md-3 text-secondary">${{order.total}}</div>
                                <div class="col-6 col-md-3"><span class="badge bg-primary rounded-pill">{{order.status}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="collapse-{{order.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{order.id}}"
                            data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                              <ul class="list-unstyled">
                              {% for cartItem in order.orderitem_set.all %}
                              <li class="mt-4 ">
                                <div class="row g-2 g-lg-3 align-items-center">
                                    {% if carpet.image_file %}
                                      <a href="{% url 'carpets' carpet_id=cartItem.carpet.id %}" class="col-3 col-md-2"><img class="img-fluid" src={{cartItem.carpet.image_file.url}}
                                        alt="Product"></a>
                                    {% elif carpet.designColor.image_file %}
                                      <a href= "{% url 'carpets' carpet_id=cartItem.carpet.id %}" class="col-3 col-md-2"><img class="img-fluid" src={{cartItem.carpet.designColor.image_file.url}}
                                        alt="Product"></a>
                                    {% else %}
                                      <a href= "{% url 'carpets' carpet_id=cartItem.carpet.id %}"  class="col-3 col-md-2"><img class="img-fluid" src={% static "./assets/images/products/product-2.jpg" %}
                                        alt="Product"></a>
                                    {% endif %}
                                  <div class="col">
                                    <a href="" class="text-black text-primary-hover lead">{{cartItem.carpet.designColor.design.collection}} {{cartItem.carpet.designColor.design}}</a>
                                    <ul class="list-inline text-muted">
                                      <li class="list-inline-item">Price: <span class="text-secondary">{{cartItem.unit_price}}</span></li>
                                      <li class="list-inline-item">Color: <span class="text-secondary">{{cartItem.carpet.designColor.color}}</span></li>
                                      <li class="list-inline-item">Qty: {{cartItem.quantity}}</li>
                                    </ul>
                                    
                                  </div>
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                            </div>
                          </div>
                        </div>
                        {% endfor %}


                        <div class="accordion-item">
                          <div class="accordion-header" id="heading-1-2">
                            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                              <div class="row g-1 g-xl-5 align-items-center">
                                <div class="col-6 col-md-3">Order 45182</div>
                                <div class="col-6 col-md-3 text-secondary">10 Aug, 2021</div>
                                <div class="col-6 col-md-3 text-secondary">$450.25</div>
                                <div class="col-6 col-md-3"><span class="badge bg-primary rounded-pill">On the
                                    way</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2"
                            data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                              <p class="text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Blanditiis
                                asperiores sed
                                consectetur
                                placeat ut vitae ad sequi laudantium explicabo cupiditate non, deserunt quas
                                sapiente
                                fuga
                                fugiat a
                                ipsam adipisci odit.</p>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>
      </div>
    </section>


    <!-- footer -->
        <!-- footer -->
        {% include "cube/components/footer.html" with theme=0 %}
      </div>
    
      {% include "cube/components/jsblock.html" %}
    
    </body>
    {% endblock content %}