{% extends 'cube/components/base.html' %}
{% load static %}

{% block title %}
<title>AV Rugs : Sign Up</title>
{% endblock %}
{% block content %}
<body>
{% include "cube/components/navbar.html" with theme=1 %}

<section class="bg-black overflow-hidden">
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">

          <div class="card">
            <div class="card-header bg-white text-center pb-0">
              <h5 class="fs-4">Register</h5>
            </div>
            <div class="card-body bg-white">
              <div class="d-grid">
                <a href="" class="btn btn-outline-red btn-with-icon text-white-hover">Register with Google <i
                    class="bi bi-google"></i></a>
              </div>
              <div class="text-muted text-center small py-2">or use your email</div>

              {% if registration_form.errors %}
                <span> There are errors in the form bro!</span>
                {{registration_form.errors}}
              {% endif %}

              {% if user_form.errors %}
                <span> There are errors in the form bro!</span>
                {{user_form.errors}}
                {% endif %}
                <form method="POST">
                {% csrf_token %}
                {{ registration_form.as_p }}
                <!-- <button type="submit" class="btn btn-lg btn-primary">Create Account</button> -->
                <!-- </form> -->

                
                <!-- <form method="POST">
                {% csrf_token %} -->
                {{ user_form.as_p }}
                <button type="submit" class="btn btn-lg btn-primary">Create Account</button>
                </form>
              <!-- <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-2">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-2">
                  <input type="text" class="form-control" name="username" id="floatingInput" placeholder="john_doe">
                  <label for="floatingInput">Username</label>
                </div>

                <div class="form-floating mb-2">
                  <input type="password" class="form-control" name="password1" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating mb-2">
                  <input type="password" class="form-control" name="password2" id="floatingPassword" placeholder="Confirm Password">
                  <label for="floatingPassword">Confirm Password</label>
                </div>


                <div class="d-grid mb-2">
                  <button type="submit" class="btn btn-lg btn-primary">Create Account</a>
                </div>
              </form> -->
            </div>
            <div class="card-footer bg-opaque-black inverted text-center">
              <p class="text-secondary">Already have an account? <a href= {% url 'login' %} class="underline">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure class="background background-overlay" style="background-image: url({% static './assets/images/small-3.jpg' %})"></figure>
  </section>
  {% include "cube/components/jsblock.html" %}

</body>
{% endblock content %}